# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [2]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
#отберем только оценки 5 
ratings_five = ratings[ ratings['rating'] == 5.0 ]

In [4]:
#определим кол-во оценок 5 у каждого фильма
first = ratings_five.groupby('movieId').count().sort_values('rating', ascending = False).head()
first

         userId  rating  timestamp
movieId
318         153     153        153
296         123     123        123
356         116     116        116
2571        109     109        109
260         104     104        104

In [5]:
best_rating_movie = movies[ movies['movieId'] == first.index[0] ]
best_rating_movie

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
df = pd.read_csv('power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
#найдем как написаны страны
df[ (df['country'].str.contains('lat', case = False)) | (df['country'].str.contains('lit', case = False)) |
               (df['country'].str.contains('est', case = False)) ]['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia', 'State of Palestine',
       'Timor-Leste'], dtype=object)

In [8]:
baltics = df[ (df['country'] == 'Lithuania') | (df['country'] == 'Latvia') | (df['country'] == 'Estonia') ]
b_category = baltics[ (baltics['category'] == 4) | (baltics['category'] == 12) | (baltics['category'] == 21) ]
baltics_years = b_category[ (b_category['year'] >= 2005) & (b_category['year'] <= 2010) ]
baltics_total = baltics_years[ baltics_years['quantity'] >= 0.0 ]

In [9]:
#потребление в каждой стране
in_country = baltics_total.groupby('country')['quantity'].sum()
in_country

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64

In [10]:
#в сумме
in_country.sum()

240580.0

In [11]:
#если без двух прошлых шагов, то так:
baltics_total['quantity'].sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [12]:
# Премия «Оскар» за лучший фильм в 2020х
oscar2021 = pd.read_html('https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture')[12]
oscar2021

,Year,Film,Producer(s)
0,2021(93rd),NaN,NaN
1,2021(93rd),Nomadland,"Frances McDormand, Peter Spears, Mollye Asher,..."
2,2021(93rd),The Father,"David Parfitt, Jean-Louis Livi, and Philippe C..."
3,2021(93rd),Judas and the Black Messiah,"Shaka King, Charles D. King, and Ryan Coogler"
4,2021(93rd),Mank,"Ceán Chaffin, Eric Roth, and Douglas Urbanski"
5,2021(93rd),Minari,Christina Oh
6,2021(93rd),Promising Young Woman,"Ben Browning, Ashley Fox, Emerald Fennell, and..."
7,2021(93rd),Sound of Metal,Bert Hamelinck and Sacha Ben Harroche
8,2021(93rd),The Trial of the Chicago 7,Marc Platt and Stuart M. Besser